{% extends 'baseadmin.html.twig' %}

{% block title %}Liste des utilisateur{% endblock %}

{% block body %}
     
<div class="jumbotron">
<a href="{{path('admin.form.utilisateur')}}" class="btn btn-primary"> nouveau utilisateur </a>                                      
</div>
    {% for utilisateur in utilisateurs %}

            

    <article>
                    
    <h2>{{utilisateur.nom}}</h2>
    <h2>{{utilisateur.prenom}}</h2>
    <h2>{{utilisateur.date_naissance}}</h2>


    <a href="{{path('admin.utilisateur.modif', {'id':utilisateur.id})}}" class="btn btn-primary"> modifier </a>                              
                    
                        
    </article> 
                
    </div>

    {% endfor %}
                        
        
    </div>

<div class="navigation">
    {{ knp_pagination_render(utilisateurs) }}
 </div>
{% endblock %}
