{% extends 'baseadmin.html.twig' %}

{% block title %}Liste des utilisateur{% endblock %}

{% block body %}
     
<div class="jumbotron">
<a href="{{path('admin.form.utilisateur')}}" class="btn btn-primary"> nouveau utilisateur </a>                                      
</div>
<table>
<tr>
<th>id</th>
<th>nom</th>
<th>prénom</th>
<th>E-mail</th>
<th>modifier</th>
<th>supprimer</th>
</tr>

    {% for utilisateur in utilisateurs %}
<tr>
<td>{{utilisateur.nom}}</td>
<td>{{utilisateur.prenom}}</td>
<td>{{utilisateur.mail}}</td>
<td><a href="{{path('admin.utilisateur.modif', {'id':utilisateur.id})}}" class="btn btn-info"> modifier </a></td>                                              
<td><a href="{{path('admin.utilisateur.sup', {'id':utilisateur.id})}}" class="btn btn-danger"> Supprimer </a></td>                                              
</tr>            
{% endfor %}
</table>                   
        
    </div>

<div class="navigation">
    {{ knp_pagination_render(utilisateurs) }}
 </div>
{% endblock %}
