{% extends 'base.html.twig' %}

{% block title %}Liste des article!{% endblock %}

{% block body %}

            <div class = "jumbotron">
        <div class="container">
        <div class="row">
{% for article in articles %}
        <div class="col-4">
       <article>
            <h2>{{article.title}}</h2>
            <div class = "metadata"> Ecrit le  21/10/2019 / {{article.categorie.titre}} </div>
             <div class = "content">
            <img src="https://via.placeholder.com/300x200" alt="">
             {{article.resume}}
            <a href="{{path('show',{'id':article.id})}} " class="btn btn-primary"> Lire la suite </a>      
            </div>          
       </article>   
       </div>
{% endfor %}
        </div>
<div class="navigation">
    {{ knp_pagination_render(articles) }}
</div>
{% endblock %}
